RewriteEngine On

# If the requested file or directory doesn't exist, rewrite to php/paypal.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ php/paypal.php [QSA,L]
